.Container {
  display: grid;
  grid-template-columns: minmax(225px, 25%) auto minmax(225px, 25%);
  grid-template-rows: 150px auto 150px;
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'footer footer footer';
  gap: var(--medium, 16px);
}

.Header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--medium, 16px);
  border: var(--Header_Border, 1px solid #f0f0f0);
  background: var(--Header_Background, #fff);
}

.Main {
  grid-area: main;
  padding: var(--medium, 16px);
  border: var(--Main_Border, 1px solid #f0f0f0);
  background: var(--Main_Background, #fff);
}

.Nav {
  display: flex;
  flex-direction: column;
}

.Nav > a {
  display: block;
  padding: var(--small, 8px);
}

.Sidebar {
  grid-area: sidebar;
  padding: var(--medium, 16px);
  border: var(--Sidebar_Border, 1px solid #f0f0f0);
  background: var(--Sidebar_Background, #fff);
}

.Footer {
  grid-area: footer;
  padding: var(--medium, 16px);
  border: var(--Footer_Border, 1px solid #f0f0f0);
  background: var(--Footer_Background, #fff);
}

.Notifications {
  display: fixed;
  top: 0;
  width: 100vw;
}
